* {
    margin:0;
    padding:0;	        
}
html,body {
    width: 100%;
    height: 100%;
    line-height:1;
    font-size:14px;
    font-family: "Trebuchet MS", Verdana, Arial;
}
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:block;
    overflow:hidden;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
#header {
    position:fixed;
    left:0;
    right:0;
    top:0;
    height: 42px;
    line-height:42px;
    background: url(../img/header_bg.png);
    border-bottom: 2px solid #0f4c80;
    
    color: #eee;
}
#header_content {
    margin: 0 20px;
    height:42px;
}
#header_content > div:first-child > img {
    margin-top:5px;
}

#header_content > div + div {
    margin-left: 20px;	        
}
#menu {
    font-size:16px;
    font-weight:bold;
    text-shadow: 1px 1px 1px #444;
}
#menu > div {
    padding: 0 5px;
    cursor: pointer;
    float:left;
}
#menu > div:hover {
    background: rgba(255,255,255,.2);
}
#menu > div + div{
    margin-left: 20px;
}

#content, #loader {
    position:fixed;
    overflow:auto;
    top:44px;
    left:0;
    right:0;
    bottom:0;
    background: #eee;
}
#loader {
    top:0;
    z-index: 999;
    background: rgba(0,0,0,.75);
}
#loader > div {
    position:relative;
    padding-top:20%;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    margin:0 auto;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.c-tab {
    width:100%;
    height:100%;
    overflow:auto;
    background: #eee;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(204,204,204)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(204,204,204) 0%,
        rgb(255,255,255) 100%
    );
}
.c-tab > div {
    position:relative;
}
.blank {
    background: #fff;
}
#front_page {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(31,94,171)),
        color-stop(1, rgb(171,221,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(31,94,171) 0%,
        rgb(171,221,255) 100%
    );
}


a.button {
    padding: 4px 6px;
    background: blue;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight:bold;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(53,123,204)),
        color-stop(1, rgb(138,200,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(53,123,204) 0%,
        rgb(138,200,255) 100%
    );
    
    color: #fff;
    text-shadow: 1px 1px 1px #222;
    
    -moz-box-shadow: 0 0 2px #555;
    -webkit-box-shadow: 0 0 2px #555;
    box-shadow: 0 0 2px #555;
    
    margin: 10px 0;
    clear:both;
}
a.button:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(30,102,184)),
        color-stop(1, rgb(112,188,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(30,102,184) 0%,
        rgb(112,188,255) 100%
    );
}

/* Simulation page style */
div.sim_outer_boundary {
    /*border-style: solid;*/
    height: 100%;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(204,204,204)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(204,204,204) 0%,
        rgb(255,255,255) 100%
    );
}

div.sim_controls {
    border-style: solid;
    border-width: 2px;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    background: lightblue;
    height: 9.5%;
}

img.sim_button {
    position: relative;
    left: 1%;
    top: 3px;
    width: 64px;
    height: 64px;
    border-style: solid;
    border-radius: 1em;
    border-color: white;
}

img.sim_button:hover {
    border-color: blue;
}

div.sim_map {
    /*border-style: solid;*/
    height: 60%;
}

div.sim_map_canvas {
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    border-radius: 1em;
    background: white;
    position: relative;
    left: 30%;
    top: 4%;
    margin: 0 50px 5px 5px;
    height: 95%;
    width: 35.7%;
}

div.sim_time_series {
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    border-radius: 1em;
    background: white;
    position: relative;
    top: 0.5%;
    left: 0.5%;
    float: left;
    width: 47%;
    height: 28.5%;
}

div.sim_phase_plot {
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    border-radius: 1em;
    background: white;
    position: relative;
    top: 0.5%;
    right: 0.5%;
    float: right;
    width: 51%;
    height: 28.5%;
}
/* end simulation page style */