<div id="container">
	<div class="c-item">
		<div class="center">
			<div id="c_scenario">
                <h2>Scenario</h2>
                <form id="frm-scenario" name="frm-scenario">
                    <p>
                        <label>Name:</label>
                        <input type="text" name="name" value="test-scenario" />
                    </p>
                    <p>
                        <label>Solver:</label>
                        <select name="solver">
                                <option value="FiniteDifferenceImpl">FiniteDifferenceImpl</option>
                                <option value="RungeKuttaImpl">RungeKuttaImpl</option>
                        </select>
                    </p>
                </form>
			</div>
		</div>
	</div>
	<!--
	Name = dis1
    Disease Model = DeterministicSEIRDiseaseModelImpl //can be 1 of many things
    Disease Name = dis1
    Population = human
    Time Period = 86400000 //seconds i believe?
    Frequency Dependent = Yes
    Reference Pop Density = 100
    Road.Net.Inf.Proportion = 0.01
    Characteristic Mixing Distance = 2.25
    Transmission Rate = 1.0
    Non-Linearity Coefficient = 1.0
    Infections Recovery Rate = 0.5
    Infectious Mortality Rate = 0.0
    Immunity Loss Rate = 0.3
    Incubation Rate = 0.3
	-->			
	<div class="c-item">
		<div class="center">
			<div id="c_disease">
			    <h2>Disease</h2>
                <form id="frm-disease" name="frm-disease">
                    <p>
                        <label>Name:</label>
                        <input type="text" name="name" value="dis1" />
                    </p>
                    <p>
                        <label>Disease Model:</label>
                        <select name="model">
                                <option value="DeterministicSEIRDiseaseModelImpl">DeterministicSEIRDiseaseModelImpl</option>
                        </select>
                    </p>
                    <p>
                        <label>Population:</label>
                        <input type="text" name="population" value="human" />
                    </p>
                    <p>
                        <label>Time Period (ms):</label>
                        <input type="text" name="time_period" value="86400000" />
                    </p>
                    <p>
                        <label>Frequency dependent:</label>
                        <select name="frequency_dependent">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </p>

                    <p>
                        <label>Reference Pop Density</label>
                        <input type="text" name="reference_pop_density" value="100" />
                    </p>
                    <p>
                        <label>Road.Net.Inf.Proportion</label>
                        <input type="text" name="road_net_inf_proportion" value="0.01" />
                    </p>
                    <p>
                        <label>Characteristic Mixing Distance:</label>
                        <input type="text" name="characteristic-mixing-distance" value="2.25" />
                    </p>
                    <p>
                        <label>Transmission Rate:</label>
                        <input type="text" name="transmission_rate" value="1.0" />
                    </p>
                    <p>
                        <label>Non-Linearity Coefficient:</label>
                        <input type="text" name="non_linearity_coefficient" value="1.0" />
                    </p>
                    <p>
                        <label>Infections Recovery Rate:</label>
                        <input type="text" name="infections_recovery_rate" value="0.5" />
                    </p>
                    <p>
                        <label>Infectious Mortality Rate:</label>
                        <input type="text" name="infectious_mortality_rate" value="0.0" />
                    </p>
                    <p>
                        <label>Immunity Loss Rate:</label>
                        <input type="text" name="immunity_loss_rate" value="0.3" />
                    </p>
                    <p>
                        <label>Incubation Rate:</label>
                        <input type="text" name="incubation_rate" value="0.3" />
                    </p>
                </form>
			</div>
		</div>
	</div>
	<!--
	Name = inf1
    type = Infector //i believe can be 1 of two things
    Disease Name = dis1
    Population = human //only human for now
    abs_or_percent = 1000
    Location = DE-HH //this lettering is chosen manually... we need to find where the list where these values are held.
    
	-->
	<div class="c-item">
		<div class="center">
			<div id="c_infector">
			    <h2>Infector</h2>
                <form id="frm-infector" name="frm-infector">
                    <p>
                        <label>Name:</label>
                        <input type="text" name="name" value="inf1" />
                    </p>
                    <p>
                        <label>Type:</label>
                        <select name="type">
                                <option value="Infector">Infector</option>
                        </select>
                    </p>
                    <p>
                        <label>Population:</label>
                        <input type="text" name="population" value="human" />
                    </p>
                    <p>
                        <label>abs_or_percent:</label>
                        <input type="text" name="abs_or_percent" value="1000" />
                    </p>
                    <p>
                        <label>Location:</label>
                        <input type="text" name="location" value="DE-HH" />
                    </p>
                </form>
			</div>
		</div>
	</div>
    <!--
    Name = dis
    Title =
    Description = 
    Creator = 
    Date = 
    Valid = 
    Created = 
    Source = 
    Publisher = 
    Coverage = 
    Contributor = 
    Relation = 
    Rights = 
    Subject = 
    Language = 
    Citation = 
    License = 
    Graphs = {} //graphs accociated (sub directory) of/with the model
    Models = {} //models accociated (sub directory) of/with the current model.
    -->
	<div class="c-item">
		<div class="center">
			<div id="c_models">
			    <h2>Models</h2>
                <form id="frm-models" name="frm-models">
                    <p>
                        <label>Name:</label>
                        <input type="text" name="name" value="dis" />
                    </p>
                    <p>
                        <label>Title:</label>
                        <input type="text" name="title" value="" />
                    </p>
                    <p>
                        <label>Description:</label>
                        <input type="text" name="description" value="" />
                    </p>
                    <p>
                        <label>Creator:</label>
                        <input type="text" name="creator" value="" />
                    </p>
                    <p>
                        <label>Date:</label>
                        <input type="text" name="date" value="" />
                    </p>
                    <!--
                    Also add: 
                    Graphs = {} //graphs accociated (sub directory) of/with the model
                    Models = {} //models accociated (sub directory) of/with the current model.
                    -->
                    <p>
                        <label>Valid:</label>
                        <input type="text" name="valid" value="" />
                    </p>
                    <p>
                        <label>Created:</label>
                        <input type="text" name="created" value="" />
                    </p>
                    <p>
                        <label>Source:</label>
                        <input type="text" name="source" value="" />
                    </p>
                    <p>
                        <label>Publisher:</label>
                        <input type="text" name="publisher" value="" />
                    </p>
                    <p>
                        <label>Coverage:</label>
                        <input type="text" name="coverage" value="" />
                    </p>
                    <p>
                        <label>Contributor:</label>
                        <input type="text" name="contributor" value="" />
                    </p>
                    <p>
                        <label>Relation:</label>
                        <input type="text" name="relation" value="" />
                    </p>
                    <p>
                        <label>Rights:</label>
                        <input type="text" name="rights" value="" />
                    </p>
                    <p>
                        <label>Subject:</label>
                        <input type="text" name="subject" value="" />
                    </p>
                    <p>
                        <label>Language:</label>
                        <input type="text" name="language" value="" />
                    </p>
                    <p>
                        <label>Citation:</label>
                        <input type="text" name="citation" value="" />
                    </p>
                    <p>
                        <label>License:</label>
                        <input type="text" name="license" value="" />
                    </p>
                </form>
			</div>
		</div>
	</div>
	<!--
	Name = myseq 
    Cycle Period = 80 days
    Start Date = 2011-04-11
    End Date =
	-->
	<div class="c-item">
		<div class="center">
			<div id="c_sequencer">
			   <h2>Sequencer</h2>
			   <form id="frm-sequencer" name="frm-sequencer">
                   <p>
                       <label>Name:</label>
                       <input type="text" name="name" value="myseq" />
                   </p>
                   <p>
                       <label>Cycle Period:</label>
                       <input type="text" name="cycle_period" value="80 days" />
                   </p>
                   <p>
                       <label>Start Date:</label>
                       <input type="text" name="start_date" value="2011-04-11" />
                   </p>
                   <p>
                       <label>End Date:</label>
                       <input type="text" name="end_date" value="" />
                   </p>
               </form>
			</div>
		</div>
	</div>
	
	<div class="c-item">
		<div class="center">
			<div id="c_create">
			   <h2>Create</h2>
			   <p>Make sure everything is in order</p>
			   <p><a onclick="buildScenario()">GENERATE SCENARIO</a></p>
			   <p id="status"></p>
			</div>
		</div>
	</div>
</div>