<div style="width: 90%; height:400px; margin: 50px auto 0 auto">
    <h2 style="text-align:center; margin: 10px">Design Scenario</h2>
    <p id="country-infect-intro" style="text-align: center; margin-top: 40px; font-weight:bold">Select country to infect</p>
<div id="select_country" style="text-align: center; margin-top: 30px">
    <select>
        <option value="AFG">Afghanistan</option>
        <option value="ALA">&Aring;land Islands</option>
        <option value="ALB">Albania</option>
        <option value="DZA">Algeria</option>
        <option value="ASM">American Samoa</option>
        <option value="AND">Andorra</option>
        <option value="AGO">Angola</option>
        <option value="AIA">Anguilla</option>
        <option value="ATA">Antarctica</option>
        <option value="ATG">Antigua and Barbuda</option>
        <option value="ARG">Argentina</option>
        <option value="ARM">Armenia</option>
        <option value="ABW">Aruba</option>
        <option value="AUS">Australia</option>
        <option value="AUT">Austria</option>
        <option value="AZE">Azerbaijan</option>
        <option value="BHS">Bahamas</option>
        <option value="BHR">Bahrain</option>
        <option value="BGD">Bangladesh</option>
        <option value="BRB">Barbados</option>
        <option value="BLR">Belarus</option>
        <option value="BEL">Belgium</option>
        <option value="BLZ">Belize</option>
        <option value="BEN">Benin</option>
        <option value="BMU">Bermuda</option>
        <option value="BTN">Bhutan</option>
        <option value="BOL">Bolivia, Plurinational State of</option>
        <option value="BIH">Bosnia and Herzegovina</option>
        <option value="BWA">Botswana</option>
        <option value="BVT">Bouvet Island</option>
        <option value="BRA">Brazil</option>
        <option value="IOT">British Indian Ocean Territory</option>
        <option value="BRN">Brunei Darussalam</option>
        <option value="BGR">Bulgaria</option>
        <option value="BFA">Burkina Faso</option>
        <option value="BDI">Burundi</option>
        <option value="KHM">Cambodia</option>
        <option value="CMR">Cameroon</option>
        <option value="CAN">Canada</option>
        <option value="CPV">Cape Verde</option>
        <option value="CYM">Cayman Islands</option>
        <option value="CAF">Central African Republic</option>
        <option value="TCD">Chad</option>
        <option value="CHL">Chile</option>
        <option value="CHN">China</option>
        <option value="CXR">Christmas Island</option>
        <option value="CCK">Cocos (Keeling) Islands</option>
        <option value="COL">Colombia</option>
        <option value="COM">Comoros</option>
        <option value="COG">Congo</option>
        <option value="COD">Congo, the Democratic Republic of the</option>
        <option value="COK">Cook Islands</option>
        <option value="CRI">Costa Rica</option>
        <option value="CIV">C&ocirc;te d'Ivoire</option>
        <option value="HRV">Croatia</option>
        <option value="CUB">Cuba</option>
        <option value="CYP">Cyprus</option>
        <option value="CZE">Czech Republic</option>
        <option value="DNK">Denmark</option>
        <option value="DJI">Djibouti</option>
        <option value="DMA">Dominica</option>
        <option value="DOM">Dominican Republic</option>
        <option value="ECU">Ecuador</option>
        <option value="EGY">Egypt</option>
        <option value="SLV">El Salvador</option>
        <option value="GNQ">Equatorial Guinea</option>
        <option value="ERI">Eritrea</option>
        <option value="EST">Estonia</option>
        <option value="ETH">Ethiopia</option>
        <option value="FLK">Falkland Islands (Malvinas)</option>
        <option value="FRO">Faroe Islands</option>
        <option value="FJI">Fiji</option>
        <option value="FIN">Finland</option>
        <option value="FRA">France</option>
        <option value="GUF">French Guiana</option>
        <option value="PYF">French Polynesia</option>
        <option value="ATF">French Southern Territories</option>
        <option value="GAB">Gabon</option>
        <option value="GMB">Gambia</option>
        <option value="GEO">Georgia</option>
        <option value="DEU">Germany</option>
        <option value="GHA">Ghana</option>
        <option value="GIB">Gibraltar</option>
        <option value="GRC">Greece</option>
        <option value="GRL">Greenland</option>
        <option value="GRD">Grenada</option>
        <option value="GLP">Guadeloupe</option>
        <option value="GUM">Guam</option>
        <option value="GTM">Guatemala</option>
        <option value="GGY">Guernsey</option>
        <option value="GIN">Guinea</option>
        <option value="GNB">Guinea-Bissau</option>
        <option value="GUY">Guyana</option>
        <option value="HTI">Haiti</option>
        <option value="HMD">Heard Island and McDonald Islands</option>
        <option value="VAT">Holy See (Vatican City State)</option>
        <option value="HND">Honduras</option>
        <option value="HKG">Hong Kong</option>
        <option value="HUN">Hungary</option>
        <option value="ISL">Iceland</option>
        <option value="IND">India</option>
        <option value="IDN">Indonesia</option>
        <option value="IRN">Iran, Islamic Republic of</option>
        <option value="IRQ">Iraq</option>
        <option value="IRL">Ireland</option>
        <option value="IMN">Isle of Man</option>
        <option value="ISR">Israel</option>
        <option value="ITA">Italy</option>
        <option value="JAM">Jamaica</option>
        <option value="JPN">Japan</option>
        <option value="JEY">Jersey</option>
        <option value="JOR">Jordan</option>
        <option value="KAZ">Kazakhstan</option>
        <option value="KEN">Kenya</option>
        <option value="KIR">Kiribati</option>
        <option value="PRK">Korea, Democratic People's Republic of</option>
        <option value="KOR">Korea, Republic of</option>
        <option value="KWT">Kuwait</option>
        <option value="KGZ">Kyrgyzstan</option>
        <option value="LAO">Lao People's Democratic Republic</option>
        <option value="LVA">Latvia</option>
        <option value="LBN">Lebanon</option>
        <option value="LSO">Lesotho</option>
        <option value="LBR">Liberia</option>
        <option value="LBY">Libyan Arab Jamahiriya</option>
        <option value="LIE">Liechtenstein</option>
        <option value="LTU">Lithuania</option>
        <option value="LUX">Luxembourg</option>
        <option value="MAC">Macao</option>
        <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
        <option value="MDG">Madagascar</option>
        <option value="MWI">Malawi</option>
        <option value="MYS">Malaysia</option>
        <option value="MDV">Maldives</option>
        <option value="MLI">Mali</option>
        <option value="MLT">Malta</option>
        <option value="MHL">Marshall Islands</option>
        <option value="MTQ">Martinique</option>
        <option value="MRT">Mauritania</option>
        <option value="MUS">Mauritius</option>
        <option value="MYT">Mayotte</option>
        <option value="MEX">Mexico</option>
        <option value="FSM">Micronesia, Federated States of</option>
        <option value="MDA">Moldova, Republic of</option>
        <option value="MCO">Monaco</option>
        <option value="MNG">Mongolia</option>
        <option value="MNE">Montenegro</option>
        <option value="MSR">Montserrat</option>
        <option value="MAR">Morocco</option>
        <option value="MOZ">Mozambique</option>
        <option value="MMR">Myanmar</option>
        <option value="NAM">Namibia</option>
        <option value="NRU">Nauru</option>
        <option value="NPL">Nepal</option>
        <option value="NLD">Netherlands</option>
        <option value="ANT">Netherlands Antilles</option>
        <option value="NCL">New Caledonia</option>
        <option value="NZL">New Zealand</option>
        <option value="NIC">Nicaragua</option>
        <option value="NER">Niger</option>
        <option value="NGA">Nigeria</option>
        <option value="NIU">Niue</option>
        <option value="NFK">Norfolk Island</option>
        <option value="MNP">Northern Mariana Islands</option>
        <option value="NOR">Norway</option>
        <option value="OMN">Oman</option>
        <option value="PAK">Pakistan</option>
        <option value="PLW">Palau</option>
        <option value="PSE">Palestinian Territory, Occupied</option>
        <option value="PAN">Panama</option>
        <option value="PNG">Papua New Guinea</option>
        <option value="PRY">Paraguay</option>
        <option value="PER">Peru</option>
        <option value="PHL">Philippines</option>
        <option value="PCN">Pitcairn</option>
        <option value="POL">Poland</option>
        <option value="PRT">Portugal</option>
        <option value="PRI">Puerto Rico</option>
        <option value="QAT">Qatar</option>
        <option value="REU">R&eacute;union</option>
        <option value="ROU">Romania</option>
        <option value="RUS">Russian Federation</option>
        <option value="RWA">Rwanda</option>
        <option value="BLM">Saint Barth&eacute;lemy</option>
        <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
        <option value="KNA">Saint Kitts and Nevis</option>
        <option value="LCA">Saint Lucia</option>
        <option value="MAF">Saint Martin (French part)</option>
        <option value="SPM">Saint Pierre and Miquelon</option>
        <option value="VCT">Saint Vincent and the Grenadines</option>
        <option value="WSM">Samoa</option>
        <option value="SMR">San Marino</option>
        <option value="STP">Sao Tome and Principe</option>
        <option value="SAU">Saudi Arabia</option>
        <option value="SEN">Senegal</option>
        <option value="SRB">Serbia</option>
        <option value="SYC">Seychelles</option>
        <option value="SLE">Sierra Leone</option>
        <option value="SGP">Singapore</option>
        <option value="SVK">Slovakia</option>
        <option value="SVN">Slovenia</option>
        <option value="SLB">Solomon Islands</option>
        <option value="SOM">Somalia</option>
        <option value="ZAF">South Africa</option>
        <option value="SGS">South Georgia and the South Sandwich Islands</option>
        <option value="ESP">Spain</option>
        <option value="LKA">Sri Lanka</option>
        <option value="SDN">Sudan</option>
        <option value="SUR">Suriname</option>
        <option value="SJM">Svalbard and Jan Mayen</option>
        <option value="SWZ">Swaziland</option>
        <option value="SWE">Sweden</option>
        <option value="CHE">Switzerland</option>
        <option value="SYR">Syrian Arab Republic</option>
        <option value="TWN">Taiwan, Province of China</option>
        <option value="TJK">Tajikistan</option>
        <option value="TZA">Tanzania, United Republic of</option>
        <option value="THA">Thailand</option>
        <option value="TLS">Timor-Leste</option>
        <option value="TGO">Togo</option>
        <option value="TKL">Tokelau</option>
        <option value="TON">Tonga</option>
        <option value="TTO">Trinidad and Tobago</option>
        <option value="TUN">Tunisia</option>
        <option value="TUR">Turkey</option>
        <option value="TKM">Turkmenistan</option>
        <option value="TCA">Turks and Caicos Islands</option>
        <option value="TUV">Tuvalu</option>
        <option value="UGA">Uganda</option>
        <option value="UKR">Ukraine</option>
        <option value="ARE">United Arab Emirates</option>
        <option value="GBR">United Kingdom</option>
        <option value="USA">United States</option>
        <option value="UMI">United States Minor Outlying Islands</option>
        <option value="URY">Uruguay</option>
        <option value="UZB">Uzbekistan</option>
        <option value="VUT">Vanuatu</option>
        <option value="VEN">Venezuela, Bolivarian Republic of</option>
        <option value="VNM">Viet Nam</option>
        <option value="VGB">Virgin Islands, British</option>
        <option value="VIR">Virgin Islands, U.S.</option>
        <option value="WLF">Wallis and Futuna</option>
        <option value="ESH">Western Sahara</option>
        <option value="YEM">Yemen</option>
        <option value="ZMB">Zambia</option>
        <option value="ZWE">Zimbabwe</option>
    </select>
    <a class="button" onclick="">Select Country</a>
</div>
<div id="accordion" style="display:none; margin-bottom:40px">

                <h3><a href="#">Scenario</a></h3>
                <div>
                <form class="cf" id="frm-scenario" name="frm-scenario">
                    <p class="cf">
                        <label>Name:</label>
                        <input type="text" name="name" value="test-scenario" />
                    </p>
                    <p class="cf">
                        <label>Solver:</label>
                        <select name="solver">
                                <option value="FiniteDifferenceImpl">FiniteDifferenceImpl</option>
                                <option value="RungeKuttaImpl">RungeKuttaImpl</option>
                        </select>
                    </p>
                </form>
                </div>
                
			    <h3><a href="#">Models</a></h3>
			    <div>
                <form class="cf" id="frm-models" name="frm-models">
                    <p class="cf">
                        <label>Parent:</label>
                        <select name="parent">
                                <option value="-">---</option>
                        </select>
                    </p>
                    <p class="cf">
                        <label>Name:</label>
                        <input type="text" name="name" value="dis" />
                    </p>
                    <p class="cf">
                        <label>Title:</label>
                        <input type="text" name="title" value="" />
                    </p>
                    <p class="cf">
                        <label>Description:</label>
                        <input type="text" name="description" value="" />
                    </p>
                    <p class="cf">
                        <label>Creator:</label>
                        <input type="text" name="creator" value="" />
                    </p>
                    <p class="cf">
                        <label>Date:</label>
                        <input type="text" name="date" value="" />
                    </p>
                    <!--

                    <p class="cf">
                        <label>Valid:</label>
                        <input type="text" name="valid" value="" />
                    </p>
                    <p class="cf">
                        <label>Created:</label>
                        <input type="text" name="created" value="" />
                    </p>
                    <p class="cf">
                        <label>Source:</label>
                        <input type="text" name="source" value="" />
                    </p>
                    <p class="cf">
                        <label>Publisher:</label>
                        <input type="text" name="publisher" value="" />
                    </p>
                    <p class="cf">
                        <label>Coverage:</label>
                        <input type="text" name="coverage" value="" />
                    </p>
                    <p class="cf">
                        <label>Contributor:</label>
                        <input type="text" name="contributor" value="" />
                    </p>
                    <p class="cf">
                        <label>Relation:</label>
                        <input type="text" name="relation" value="" />
                    </p>
                    <p class="cf">
                        <label>Rights:</label>
                        <input type="text" name="rights" value="" />
                    </p>
                    <p class="cf">
                        <label>Subject:</label>
                        <input type="text" name="subject" value="" />
                    </p>
                    <p class="cf">
                        <label>Language:</label>
                        <input type="text" name="language" value="" />
                    </p>
                    <p class="cf">
                        <label>Citation:</label>
                        <input type="text" name="citation" value="" />
                    </p>
                    <p class="cf">
                        <label>License:</label>
                        <input type="text" name="license" value="" />
                    </p>-->
                </form>
                <p class="cf"><a class="button" onclick="generateModel()">Add Model</a></p>
                </div>
                <h3><a href="#">Graphs</a></h3>
                <div>
                <div id="graphs_tab" style="display:none">
                    <p class="cf">
                        <label>Model:</label>
                        <select id="graphs_model">
                                <option value="-">---</option>
                        </select>
                    </p>
                    <p class="cf">
                        <select multiple="multiple" id="selectable_graphs">
                                <option value="-">---</option>
                        </select>
                        
                    </p>
                    <p class="cf" style="margin-top:10px"><a class="button" onclick="addGraphs()">Add Graphs</a></p>
                    <div id="graphs_status" style="margin-top:10px; font-size:10px"></div>
                </div>
                <div id="pre_graphs_tab">
                    <p>Please add at least one model first.</p>
                </div>
                </div>
                <h3><a href="#">Disease</a></h3>
			    <div>
                <form class="cf" id="frm-disease" name="frm-disease">
                    <p class="cf">
                        <label>Attach to Model:</label>
                        <select name="disease_model">
                                <option value="-">---</option>
                        </select>
                    </p>
                    <p class="cf">
                        <label>Name:</label>
                        <input type="text" name="name" value="dis1" />
                    </p>
                    <p class="cf">
                        <label>Disease Model:</label>
                        <select name="model">
                                <option value="DeterministicSEIRDiseaseModelImpl">DeterministicSEIRDiseaseModelImpl</option>
                        </select>
                    </p>
                    <p class="cf">
                        <label>Population:</label>
                        <input type="text" name="population" value="human" />
                    </p>
                    <p class="cf">
                        <label>Time Period (ms):</label>
                        <input type="text" name="time_period" value="86400000" />
                    </p>
                    <p class="cf">
                        <label>Frequency dependent:</label>
                        <select name="frequency_dependent">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </p>

                    <p class="cf">
                        <label>Reference Pop Density</label>
                        <input type="text" name="reference_pop_density" value="100" />
                    </p>
                    <p class="cf">
                        <label>Road.Net.Inf.Proportion</label>
                        <input type="text" name="road_net_inf_proportion" value="0.01" />
                    </p>
                    <p class="cf">
                        <label>Characteristic Mixing Distance:</label>
                        <input type="text" name="characteristic-mixing-distance" value="2.25" />
                    </p>
                    <p class="cf">
                        <label>Transmission Rate:</label>
                        <input type="text" name="transmission_rate" value="1.0" />
                    </p>
                    <p class="cf">
                        <label>Non-Linearity Coefficient:</label>
                        <input type="text" name="non_linearity_coefficient" value="1.0" />
                    </p>
                    <p class="cf">
                        <label>Infections Recovery Rate:</label>
                        <input type="text" name="infections_recovery_rate" value="0.5" />
                    </p>
                    <p class="cf">
                        <label>Infectious Mortality Rate:</label>
                        <input type="text" name="infectious_mortality_rate" value="0.0" />
                    </p>
                    <p class="cf">
                        <label>Immunity Loss Rate:</label>
                        <input type="text" name="immunity_loss_rate" value="0.3" />
                    </p>
                    <p class="cf">
                        <label>Incubation Rate:</label>
                        <input type="text" name="incubation_rate" value="0.3" />
                    </p>
                </form>
                </div>
                <h3><a href="#">Infector</a></h3>
			    <div>
                <form class="cf" id="frm-infector" name="frm-infector">
                    <p class="cf">
                        <label>Attach to Model:</label>
                        <select name="infector_model">
                                <option value="-">---</option>
                        </select>
                    </p>
                    <p class="cf">
                        <label>Name:</label>
                        <input type="text" name="name" value="inf1" />
                    </p>
                    <p class="cf">
                        <label>Type:</label>
                        <select name="type">
                                <option value="Infector">Infector</option>
                        </select>
                    </p>
                    <p class="cf">
                        <label>Population:</label>
                        <input type="text" name="population" value="human" />
                    </p>
                    <p class="cf">
                        <label>abs_or_percent:</label>
                        <input type="text" name="abs_or_percent" value="1000" />
                    </p>
                    <p class="cf">
                        <label>Location:</label>
                        <input type="text" name="manual-location" />
                        <select name="loc1" style="display:none"></select>
                        <select name="loc2" style="display:none; margin-left: 10px"></select>
                        <select name="loc3" style="display:none; margin-left: 10px"></select>
                    </p>
                </form>
                </div>
			   <h3><a href="#">Sequencer</a></h3>
			   <div>
			   <form class="cf" id="frm-sequencer" name="frm-sequencer">
                   <p class="cf">
                       <label>Name:</label>
                       <input type="text" name="name" value="myseq" />
                   </p>
                   <p class="cf">
                       <label>Cycle Period:</label>
                       <input type="text" name="cycle_period" value="80 days" />
                   </p>
                   <p class="cf">
                       <label>Start Date:</label>
                       <input type="text" name="start_date" value="2011-04-11" />
                   </p>
                   <p class="cf">
                       <label>End Date:</label>
                       <input type="text" name="end_date" value="" />
                   </p>
               </form>
               </div>

			   <h3><a href="#"><b>Create</b></a></h3>
			   <div class="finalize">
			       <p class="cf" style="margin: 30px 0">Once you click <em>Generate Scenario</em> there is no going back. Please make sure that you have filled out all fields and setup your models correctly, including linking them to graphs as well as disease and infector.</p>
			       <p class="cf" style="margin: 30px 0">After you click <em>Generate Scenario</em>, all the necessary scenario files will be created on the server and properly linked. You can access all created scenarios and load them by clicking on <em>Load Scenario</em> at any given time.</p>
			       <p class="cf"><a class="button" onclick="buildScenario()">GENERATE SCENARIO</a></p>
			       <p id="status"></p>
			   </div>
</div>
</div>

<script type = "text/javascript" charset="UTF-8">


$.getJSON("rsrc/json/selectoptions.json",function(data) {
    // Johnny Martin would've been proud over this selector statement
    var cur_select = $('#frm-scenario select[name="solver"]');
    cur_select.html('');
    for (var i=0; i < data.SCENARIO_SOLVER.length; i++) {
        cur_select.append('<option value="'+data.SCENARIO_SOLVER[i]+'">'+data.SCENARIO_SOLVER[i]+'</option>')
    }
    // Populate DISEASE MODELS
    cur_select = $('#frm-disease select[name="model"]');
    cur_select.html('');
    for (var i=0; i < data.DISEASE_DISEASE_MODEL.length; i++) {
        cur_select.append('<option value="'+data.DISEASE_DISEASE_MODEL[i]+'">'+data.DISEASE_DISEASE_MODEL[i]+'</option>')
    }
    var ISO_MODELS = {}
      , ISO_REGIONS = {}
      , ISO_GRAPHS = {}
      ;
});
// Extend String obj :)
String.prototype.startsWith = function(str) {
    return ( str === this.substr( 0, str.length ) );
}
//$.getJSON('rsrc/json/models.json', function(data) { ISO_MODELS = data; });
$.getJSON('rsrc/json/graphs.json', function(data) { 
    ISO_GRAPHS = data;
});
$.getJSON('rsrc/json/full_ISO_3166.json', function(data) { 
    ISO_REGIONS = data;
});
var COUNTRY_SELECTED = 'USA';
$('#select_country a.button').click(function() {
    COUNTRY_SELECTED = $('#select_country select').attr('value');
    $('#country-infect-intro').hide();
    $('#select_country').hide();
    $('#accordion').show();
    
    $('#selectable_graphs').html('');
    var graphs = ISO_GRAPHS[COUNTRY_SELECTED];
    for (var i=0; i < graphs.length; i++) {
        $('#selectable_graphs').append('<option value="'+graphs[i].path+'">'+graphs[i].file+'</option>');
    }
    
    // POPULATE REGIONS ACCORDINGLY
    var regions = ISO_REGIONS[COUNTRY_SELECTED][1]
      , val
      , r_count
      ;
    
    if (regions.length > 0) {
        $('#frm-infector input[name="manual-location"]').hide();
        $('#frm-infector select[name="loc1"]').show();
    } else {
        $('#frm-infector input[name="manual-location"]').val(COUNTRY_SELECTED);
    }
    $('#frm-infector select[name="loc1"]').html('');
    for (var i=0; i < regions.length; i++) {
        $('#frm-infector select[name="loc1"]').append('<option value="'+regions[i].code+'">'+regions[i].name+'</option>');
    }
    $('#frm-infector select[name="loc1"]').change(function() {
        if (ISO_REGIONS[COUNTRY_SELECTED][2].length > 0) {
            val = $(this).val();
            regions = ISO_REGIONS[COUNTRY_SELECTED][2];
            $('#frm-infector select[name="loc3"]').hide();
            $('#frm-infector select[name="loc2"]').html('<option value="">-</option>');
            r_count = 0;
            for (var i=0; i < regions.length; i++) {
                if (regions[i].code.startsWith(val)) {
                    r_count++;
                    $('#frm-infector select[name="loc2"]').append('<option value="'+regions[i].code+'">'+regions[i].name+'</option>');
                }
            }
            if (r_count > 0) {
                $('#frm-infector select[name="loc2"]').show()
            }
            
            $('#frm-infector select[name="loc2"]').change(function() {
                if (ISO_REGIONS[COUNTRY_SELECTED][3].length > 0) {
                    val = $(this).val();
                    if (val.length <= 1) {
                        $('#frm-infector select[name="loc3"]').html('').hide();
                        return;
                    }
                    
                    regions = ISO_REGIONS[COUNTRY_SELECTED][3];
                    $('#frm-infector select[name="loc3"]').html('<option value="">-</option>');
                    r_count = 0;
                    for (var i=0; i < regions.length; i++) {
                        if (regions[i].code.startsWith(val)) {
                            r_count++;
                            $('#frm-infector select[name="loc3"]').append('<option value="'+regions[i].code+'">'+regions[i].name+'</option>');
                        }
                    }
                    if (r_count > 0) {
                        $('#frm-infector select[name="loc3"]').show()
                    }
                }
            });
        }
    });
    $('#frm-infector select[name="loc1"]').change();
    
});

</script>