<!--
This is the scenario simulation page. This page runs scenarios and shows data
in the form of maps and charts. This page is still a WIP.
-->
<div class="sim_outer_boundary">
    <div class="sim_controls">
        <img class="sim_button" id="run" alt="run" title="run simulation" src="img/sim_buttons/run.svg"/>
        <img class="sim_button" id="pause" alt="pause" title="pause simulation" src="img/sim_buttons/pause.svg"/>
        <img class="sim_button" id="reset" alt="restart" title="restart simulation" src="img/sim_buttons/restart.svg"/>
        <img class="sim_button" id="step" alt="step" title="step through 1 iteration" src="img/sim_buttons/step.svg"/>
        <img class="sim_button" id="stop" alt="stop" title="stop simulation" src="img/sim_buttons/stop.svg"/>
<span id="sim_status" style="float:right; margin-right: 30px; line-height: 32px; text-shadow: 1px 1px 1px #fff">
<img src="img/csv_load.gif" alt="loading" />
Initializing data load...</span>
    </div>
    <div class="sim_screen" id="screen">
        <img class="sim_button_minmax" id="minimize" alt="minimize" title="minimize map" src="img/sim_buttons/minimize.svg" style="display:none" />
        <div class="sim_map">
            <div class="map_info"></div>
            <div class="sim_map_canvas" id="map_canvas">
               <!-- <img class="sim_button_minmax" id="maximize" alt="maximize" title="maximize map" src="img/sim_buttons/maximize.svg"/>-->
                <table class="map_legend" cellspacing="5">
                    <tr><th colspan="2"><b>Legend</b></th></tr>
                    <tr><td>S</td><td style="background: blue">&nbsp;&nbsp;</td></tr>
                    <tr><td>E</td><td style="background: yellow">&nbsp;&nbsp;</td></tr>
                    <tr><td>I</td><td style="background: red">&nbsp;&nbsp;</td></tr>
                    <tr><td>R</td><td style="background: green">&nbsp;&nbsp;</td></tr>
                </table>
                <b class="data_select_title">Data Select</b>
                <select id="data_select">
                    <option value="I">I</option>
                    <option value="S">S</option>
                    <option value="E">E</option>
                    <option value="R">R</option>
                </select>
            </div>
        </div>
        <div class="sim_time_series">
            <div id="ts_canvas"></div>
	    <div id="ts_settings">
		
	    </div>
        </div>
       <!-- <div class="sim_phase_plot">
            Phase plot here
        </div>-->
        <table class="map_legend_max" cellspacing="5" style="display:none">
                    <tr><th colspan="2"><b>Legend</b></th></tr>
                    <tr><td>S</td><td style="background: blue">&nbsp;&nbsp;</td></tr>
                    <tr><td>E</td><td style="background: yellow">&nbsp;&nbsp;</td></tr>
                    <tr><td>I</td><td style="background: red">&nbsp;&nbsp;</td></tr>
                    <tr><td>R</td><td style="background: green">&nbsp;&nbsp;</td></tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    var CANVAS_WIDTH;
    var CANVAS_HEIGHT;
    var map;
    var big_map; // for maximized map
    var IS_RUNNING = false;
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
        };
    })();

    // Display the map's info
    $(".map_info").html("<b>Country: </b>"+scen.getCountry()+"&nbsp;&nbsp;<b>Level: </b>"+scen.getLevel());
   /* 
    $(window).resize(function() {
    delay(function(){
       console.log;
       CANVAS_WIDTH = $("#map_canvas").width();
       CANVAS_HEIGHT = $("#map_canvas").height();
       scen.setMap(map).resizeMap({x: CANVAS_WIDTH, y: CANVAS_HEIGHT});
    }, 500);
    });
    */
    function simulationLoaded() {
       CANVAS_WIDTH = $("#map_canvas").width();
       CANVAS_HEIGHT = $("#map_canvas").height();

       map = Raphael("map_canvas", CANVAS_WIDTH, CANVAS_HEIGHT);
       scen.setGraph('ts_canvas', 'I', scen.getRegions().splice(0,2));
       scen.setMap(map).resizeMap({x: CANVAS_WIDTH, y: CANVAS_HEIGHT});
       scen.setDelay(700);
       scen.setLoadCallback(function() {
	   $('#sim_status').html('<img src="img/csv_load.gif" alt="loading" />' + " Loading.... "+this.output.I.length+" cycles loaded");
       });
       scen.setLoadedCallback(function() {
	   $('#sim_status').html("Finished loading "+this.output.I.length+" cycles");
       });
       $('#map_canvas').draggable();
       $('.sim_time_series').draggable().resizable();
    }
    
    // setup sim button action listeners
    $("#run").click(function(){
	if (IS_RUNNING) {
	    scen.resume();
	} else {
            scen.run();
	    IS_RUNNING = true;
	}
    });
    
    $("#pause").click(function(){
        scen.pause();
    });

    $("#reset, #stop").click(function(){
        scen.reset();
	IS_RUNNING = false;
    });


    $("#maximize").click(function(){
        CANVAS_WIDTH = $(".sim_screen").width();
        CANVAS_HEIGHT = $(".sim_screen").height();
        $(".sim_screen").css({"border-style": "solid", "background" : "white"});
        $(".sim_map").hide();
        $(".sim_time_series").hide();
        $(".sim_phase_plot").hide();
        $(this).hide();
        $('#minimize').show();
        $(".map_legend_max").show();
        big_map = Raphael("screen", CANVAS_WIDTH, CANVAS_HEIGHT);
        scen.setMap(big_map).resizeMap({x: CANVAS_WIDTH, y: CANVAS_HEIGHT});
    });
   
    $("#minimize").click(function(){
        big_map.remove();
        $(".sim_screen").css({"border-style": "hidden", "background" : "none"});
        $(".sim_map").show();
        $(".sim_time_series").show();
        $(".sim_phase_plot").show();
        $(this).hide();
        $(".map_legend_max").hide();
        $('#maximize').show();
    });

    $("#data_select").change(function(){
        scen.setMap(map, $("#data_select").val());
    });
</script>
